<!--  show one trips details -->

<!--  add a new trip -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <header><%- include("../partials/nav") %></header>
        <h1>Trip Details</h1>
        <div id="showTripDiv">
            <h2><%= trip.name %></h2>
            <p>Start Date: <%= trip.startDate %></p>
            <p>End Date: <%= trip.endDate %></p>
            <!-- Display other trip details as needed -->

            <!-- Update button -->
            <a href="/mytrips/update/<%= trip._id %>">Update</a>
            <form id="formDelete" action="/mytrips/<%= trip._id %>?_method=DELETE" method="POST">
                <button id="deleteTripButton" type="submit">Delete Trip</button>
            </form>
        </div>

        
    </body>
</html>
