<!--  show one trips details -->

<!--  add a new trip -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div class="background-image"></div>
        <header><%- include("../partials/nav") %></header>
        <h1>Trip Details</h1>
        <div id="showTripDiv">
            <h2><%= trip.name %></h2>
            <p>
                Start Date: <%= trip.startDate.toLocaleString("tr-TR",{dateStyle
                :"short"}) %>
            </p>
            <p>End Date: <%= trip.endDate.toLocaleString("tr-TR",{dateStyle
                :"short"}) %></p>
                <% trip.itinerary.forEach((spot, index) => { %>
                    <p>Spot <%= index + 1 %>: <%= spot.name %></p>
                    <% }) %>

            <!-- Update and delete button -->
            <form
                id="formUpdate"
                action="/mytrips/<%= trip._id %>?_method=PUT"
                method="POST"
            >
            <button id="updateTripButton" type="submit">Update Trip</button>
            </form>
            <form
                id="formDelete"
                action="/mytrips/<%= trip._id %>?_method=DELETE"
                method="POST"
            >
                <button id="deleteTripButton" type="submit">Delete Trip</button>
            </form>
        </div>
    </body>
</html>
