<!--  show one trips details -->

<!--  add a new trip -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div class="background-image"></div>
        <header><%- include("../partials/nav") %></header>
        <h1>Update <%= trip.name %></h1>
        <form
            action="/mytrips/showtrip/<%= trip._id %>?_method=PUT"
            method="POST"
            id="newTripForm"
        >
            <label for="Name">Name:</label>
            <input
                type="text"
                id="name"
                name="name"
                value="<%= trip.name %>"
                required
            />

            <label for="startDate">Start Date:</label>
            <input
                type="date"
                id="startDate"
                name="startDate"
                value="<%= trip.startDate %>"
                required
            />

            <label for="endDate">End Date:</label>
            <input
                type="date"
                id="endDate"
                name="endDate"
                value="<%= trip.endDate %>"
                required
            />

            <div id="itinerary">
                    <% trip.itinerary.forEach((spot, index) => { %>
                    
                    
                <div class="destination">
                    <label for="spot">Spot <%= index + 1 %>: <%= spot.name %></label>
                    <select name="itinerary" multiple>
                        <% surfSpots.forEach(spot => { %>
                        <option value="<%= spot._id %>">
                            <%= spot.name %>
                        </option>
                        <% }) %>
                    </select>
                </div>
                <% }) %>
            </div>
            <div id="updateTripButtons">
                <button type="button" id="addDestination">
                    Add Destination
                </button>

                <button type="submit" value="Save Trip" id="update">
                    Update
                </button>

            </div>
        </form>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const addDestinationButton =
                    document.getElementById("addDestination");
                const itineraryContainer = document.getElementById("itinerary");

                addDestinationButton.addEventListener("click", function () {
                    const destinationDiv = document.createElement("div");
                    destinationDiv.classList.add("destination");

                    destinationDiv.innerHTML = `
    
                        <label for="spot">New Surf Spot :</label>
                        <input type="text" class="spot" name="spot[]" required>
                    `;

                    itineraryContainer.appendChild(destinationDiv);
                });
            });
        </script>
    </body>
</html>
